.quiz-side__body__form-blocks__block__answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
    .quiz-side__body__form-blocks__block__answers__answer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-radius: 15px;
        background-color: #F5F5F5;
        padding: 15px;

        & label {
            cursor: pointer;
        }
    }
    .quiz-side__body__form-blocks__block__answers__answer--checked {
        @extend .quiz-side__body__form-blocks__block__answers__answer;
        background-color: rgb(255, 255, 255);
        border: solid 1px black;
    }
}

.quiz-side__body__form-blocks__block__answers--three-options {
    @extend .quiz-side__body__form-blocks__block__answers;
    grid-template-columns: 1fr;
    gap: 10px;
}