.quiz-side {
    overflow: hidden;
    background-color: #fff;
    padding: 35px;
    border-radius: 15px;
    flex: 1;
    width: 576px;
    height: 392px;

    .quiz-side__body {
        height: 349px;
        justify-content: space-between;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 20px;

    
        .quiz-side__body__form-blocks__block {
            display: flex;
            height: 0px;
            opacity: 0;
            flex-direction: column;
            transform: translateX(700px);
            transition: transform .5s ease-out;
            gap: 15px;
        }
    
        .quiz-side__body__form-blocks__block--active {
            display: flex;
            opacity: 1;
            flex-direction: column;
            transform: translateX(0px);
            gap: 15px;

    
            .quiz-side__body__form-blocks__block__question-wrapper {
                display: flex;
                justify-content: space-between;
    
                .quiz-side__body__form-blocks__block__step {
                    color: #9b9898;
                }
            }
        }
    }
}







  