.quiz-side__body {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .quiz-side__body__form-blocks__block {
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    .quiz-side__body__form-blocks__block--active {
        @extend .quiz-side__body__form-blocks__block;
        display: flex;

        .quiz-side__body__form-blocks__block__question-wrapper {
            display: flex;
            justify-content: space-between;

            .quiz-side__body__form-blocks__block__step {
                color: #9b9898;
            }
        }
    }

    .quiz-side__body__form-blocks__block__answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        
        .quiz-side__body__form-blocks__block__answers__answer {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            border-radius: 15px;
            background-color: #F5F5F5;
            padding: 15px;
        }
        .quiz-side__body__form-blocks__block__answers__answer--checked {
            @extend .quiz-side__body__form-blocks__block__answers__answer;
            background-color: rgb(255, 255, 255);
            border: solid 1px black;
        }
    }

    .quiz-side__body__form-blocks__block__answers--three-options {
        @extend .quiz-side__body__form-blocks__block__answers;
        grid-template-columns: 1fr;
    }
}





  