* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  color: #333;
  line-height: 22px; }

.content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  background-color: #CAFFA0; }
  .content .description-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px; }
  .content .quiz-side {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    flex: 1; }

.quiz-side__body {
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .quiz-side__body .quiz-side__body__form-blocks__block, .quiz-side__body .quiz-side__body__form-blocks__block--active {
    display: none;
    flex-direction: column;
    gap: 15px; }
  .quiz-side__body .quiz-side__body__form-blocks__block--active {
    display: flex; }
  .quiz-side__body .quiz-side__body__form-blocks__block__answers, .quiz-side__body .quiz-side__body__form-blocks__block__answers--three-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px; }
    .quiz-side__body .quiz-side__body__form-blocks__block__answers .quiz-side__body__form-blocks__block__answers__answer, .quiz-side__body .quiz-side__body__form-blocks__block__answers--three-options .quiz-side__body__form-blocks__block__answers__answer, .quiz-side__body .quiz-side__body__form-blocks__block__answers .quiz-side__body__form-blocks__block__answers__answer--checked, .quiz-side__body .quiz-side__body__form-blocks__block__answers--three-options .quiz-side__body__form-blocks__block__answers__answer--checked {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      border-radius: 15px;
      background-color: #F5F5F5;
      padding: 15px; }
    .quiz-side__body .quiz-side__body__form-blocks__block__answers .quiz-side__body__form-blocks__block__answers__answer--checked, .quiz-side__body .quiz-side__body__form-blocks__block__answers--three-options .quiz-side__body__form-blocks__block__answers__answer--checked {
      background-color: white;
      border: solid 1px black; }
  .quiz-side__body .quiz-side__body__form-blocks__block__answers--three-options {
    grid-template-columns: 1fr; }

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #D8D8D8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: 10px; }

input[type="radio"]:checked {
  background-color: #fffefe;
  border-color: #383838;
  border-width: 6px; }

.quiz-side__body__button-container {
  display: flex;
  justify-content: space-between; }
  .quiz-side__body__button-container .quiz-side__body__button-container__button-forward, .quiz-side__body__button-container .quiz-side__body__button-container__button-back, .quiz-side__body__button-container .quiz-side__body__button-container__button-back--active, .quiz-side__body__button-container .quiz-side__body__button-container__button-forward--active {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 107px;
    max-width: 107px;
    background-color: #6f6f6f;
    color: #fff;
    border-style: none;
    min-height: 44px;
    border-radius: 10px; }
  .quiz-side__body__button-container .quiz-side__body__button-container__button-back, .quiz-side__body__button-container .quiz-side__body__button-container__button-back--active {
    visibility: hidden;
    background-color: #ffffff;
    color: #383838;
    border: solid 1px black;
    border-radius: 10px; }
  .quiz-side__body__button-container .quiz-side__body__button-container__button-back--active {
    visibility: visible; }
  .quiz-side__body__button-container .quiz-side__body__button-container__button-forward--active {
    background-color: #383838; }

.dropdown {
  min-height: 200px;
  max-width: 500px; }
  .dropdown .select {
    position: relative;
    background-color: white;
    border-radius: 15px;
    border: solid 1px black;
    padding: 5px 15px; }
    .dropdown .select .placeholder {
      color: #9B9B9B;
      font-size: .8rem; }
    .dropdown .select .arrow {
      position: absolute;
      right: 15px;
      top: 15px;
      display: inline-block;
      height: 15px;
      width: 15px;
      border: solid 2px black;
      border-top: #fff;
      border-right: #fff;
      transform: rotate(-45deg); }
  .dropdown .options {
    visibility: hidden;
    background-color: white;
    border-radius: 15px;
    max-height: 120px;
    padding: 5px 15px;
    margin-top: 10px;
    overflow: scroll;
    filter: drop-shadow(2px 3px 10px #ecebeb); }
    .dropdown .options ul li {
      list-style: none;
      padding: 5px; }

input[name="ninth-step"], .submit-btn {
  border-radius: 15px;
  border-style: none;
  background-color: #F5F5F5;
  padding: 15px; }

.submit-btn {
  background-color: #383838;
  color: #F5F5F5; }

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; }

/*# sourceMappingURL=index.css.map */
