input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #D8D8D8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    outline: none;
    margin-right: 10px;
  }
  
input[type="radio"]:checked {
    background-color: #fffefe;
    border-color: #383838;
    border-width: 6px;
} 

  